[2020-10-05 13:07] mkumatag opened #10 "Purge vm throws an error message when vm is in BUILD state"
Hitting with the following error while vm is in `ERROR` state:

[code]

[2020-10-10 06:56] mkumatag commented on #10
this is WAD

[2020-10-10 06:56] #10 closed

[2020-12-03 09:32] mkumatag opened #23 "pvsadm image command displays the `To Be Implemented` message"
[code]
/kind bug

[2020-12-03 09:32] mkumatag commented on #23
/kind bug

[2020-12-03 09:32] mkumatag commented on #23
/assign

[2020-12-03 09:34] #23 closed

[2020-12-03 09:41] mkumatag commented on #23
@sudeeshjohn fixed binaries can be downloaded from the artifact section here - https://github.com/ppc64le-cloud/pvsadm/actions/runs/398044746

[2020-12-03 09:57] mkumatag opened #24 "Sign MacOS binary"
When Apple introduced MacOS Catalina, it came with some security features to make sure you were only using trusted binaries. This requires that the binaries are signed and notarized by Apple themselves, or else you get an error.

This issue is to sign the binary with a proper certificate.

A nice blog is written to fix this issue - https://www.kencochrane.com/2020/08/01/build-and-sign-golang-binar

[2020-12-03 14:25] mkumatag opened #25 "Enabled klog logging options"
This will help to add verbose levels for the logging.

This will enable the user to mention the log level by `-v` options and many more, here is the complete set of flags this will expose:

[code]

[2020-12-03 14:26] mkumatag commented on #25
/assign

[2020-12-03 14:34] mkumatag opened #27 "Default region is not working for the image import command"
e.g: the following command is not working:

[code]

error:

[code]

/kind bug
/assign @bkhadars

[2020-12-03 14:36] bpradipt opened #28 "Allow modification of some options for the template used for preparing the OVA image"
https://github.com/ppc64le-cloud/pvsadm/blob/master/cmd/image/qcow2ova/prep/templates.go

[2020-12-03 14:37] mkumatag commented on #27
This is happening because the region flag is made mandatory here:

https://github.com/ppc64le-cloud/pvsadm/blob/ccd6812116e001178f5aa7a492045cdf644b5e7e/cmd/image/import/import.go#L180

and also not set to any default value here - https://github.com/ppc64le-cloud/pvsadm/blob/ccd6812116e001178f5aa7a492045cdf644b5e7e/cmd/image/import/import.go#L170

Region variable is already registered here - https

[2020-12-03 14:45] miyamotoh commented on #28
I see "9.9.9.9" hardcoded in the script, and that won't work in some network where firewall blocks external DNS lookups. You can default to it, but should allow overrides with a custom DNS server/IP which would be the trusted DNS server inside the firewall.

[2020-12-04 06:11] arcprabh opened #29 "Run time error during qcow2 to OVA image conversion due to old version of libgcrypt rpm on RHEL 8.2"
System - RHEL 82 bastion VM

Test Case - Download a qco2 KVM Guest OS and convert it to OVA using pvsadm tool.

Issue seen :
========

[code]

Resolution :
========
After upgrading the libgcrypt rpm to 1.8.5-4.el8   and rerunning the OVA conversion completed.

[code]

Verification :
=========

[code]

We should update the README file with specific version of rpm to be = or >  a specific level/vers

[2020-12-04 06:13] bkhadars commented on #27
Region flag is mandatory for ```image import``` sub-command.. updated the examples in the code as well to support the change

PR: https://github.com/ppc64le-cloud/pvsadm/pull/30

[2020-12-04 06:46] mkumatag commented on #29
Similar issues found here and got fixed in the recent update.

https://bugzilla.redhat.com/show_bug.cgi?id=1840485
https://bugzilla.redhat.com/show_bug.cgi?id=1828681

As mentioned in the above comment package update resolved the issue.

/kind bug

[2020-12-04 06:47] #29 closed

[2020-12-04 06:58] #25 closed

[2020-12-04 06:59] bpradipt commented on #28
It will be good to make the following configurable
- DNS address
- Yum repo for the RPMs
- Direct RPM urls

The default will be what it is today, but it can be updated via a conf/yaml file

[2020-12-04 07:28] arcprabh opened #31 "Mismatch between the actual binary name pvsadm-linux-ppc64le used to run the command and the pvsadm command in the help text."
Test - Validate the pvsadm cli tool.

The pvsadm tool is downloaded and saved as pvsadm-linux-ppc64le. The commands are also run using the same binary name.

Issue - But the help text for all commands are referring to pvsadm as the command and not pvsadm-linux-ppc64le.

[code]

Expected results:
=============

We need to align the help text command pvsadm with the binary name pvsadm-linux-ppc64le

[2020-12-04 07:30] mkumatag commented on #31
/kind feature
/assign

[2020-12-04 07:30] mkumatag commented on #31
/kind bug

[2020-12-04 07:30] #27 closed

[2020-12-04 07:32] mkumatag commented on #31
Publishing the tar.gz file with the binary containing with `pvsadm` will solve this issue.

[2020-12-04 07:37] arcprabh opened #32 "504 unknown error reported due to gateway timeouts while importing image from IBM COS to the PowerVS instance."
Test case:

1) Download a qcow2 image and convert it to OVA image using pvsadm image qcow2ova image tool ==> Completed
2) Upload the OVA image to IBM COS using pvsadm image upload tool ==> Completed
3) Import the image from IBM COS to PowerVS instance using pvsadm image import tool ==> Failed with 504 unknown error

Failing command with debug enabled :
===========================

[code]

[2020-12-04 07:39] mkumatag commented on #28
I'm also thinking about exposing an option to have as user-defined script to run part of prep step, this will even give flexibility in terms of what really they want to run part of it for an advanced user.

[2020-12-04 07:54] mkumatag commented on #32
/kind bug
/assign @bkhadars

Here is my observation:

1. Object name does not exist in this path - `/root/rhel83-arc-dec3.ova.gz`, actually an object name is rhel83-arc-dec3.ova.gz, @bkhadars need to check if object present before calling the image creation
2. Not sure if powervs import image really works even if there is an object exist in that path in the bucket

[2020-12-04 08:18] mkumatag opened #34 "Log levels for pvsadm"
This task is to set the different log level for the tool, https://github.com/ppc64le-cloud/pvsadm/pull/26 will give us the flexibility to use the different verbose log levels for the tool.

Here is the proposal for defining the log levels for the tool.

| Level | Purpose |
| ------------- | ------------- |
| 1  | Info  |
| 2  | Debug |
| 3 | Trace level 1 |
| 4 | Trace level 2 |
| 5 | Function ent

[2020-12-04 08:18] mkumatag commented on #34
/cc @bpradipt @bkhadars please review and let me know your opinion.

[2020-12-04 08:18] mkumatag commented on #34
/assign

[2020-12-04 12:19] arcprabh opened #36 "OVA file overwrite should not happen when a conversion is attempted with same image file name."
Test Case:

Identify a separate file system or dir for saving all converted OVA images.
Convert a qcow2 to OVA for image1
When another conversion is attempted for image2 and same image name is used , then the older OVA image file is getting rewritten/overwritten. It is a loss of converted OVA image.

Command used:

 [root@rhel83-arc-pvsadm image]# ./pvsadm-linux-ppc64le image qcow2ova --image-name

[2020-12-04 12:21] mkumatag commented on #36
/bug
/assign

[2020-12-04 12:21] mkumatag commented on #36
/kind bug

[2020-12-04 13:15] arcprabh opened #37 "Global flag audit-file should not show up in the pvsadm image help text since it is not implemented."
**Test Case:**

Use the global flag audit-file in pvsadm image cli commands.

[root@rhel83-arc-pvsadm image]# ./pvsadm-linux-ppc64le image -h
PowerVS Image management

Usage:
  pvsadm image [flags]
  pvsadm image [command]

Available Commands:
  import      Import the image into PowerVS instances
  qcow2ova    Convert the qcow2 image to ova format
  upload      Upload the image to the IBM COS

Fla

[2020-12-04 13:31] Shilpi-Das1 opened #38 "Not able to import image even after specifying region"
I used command
`pvsadm image import -n ocp-cicd-tokyo-04 -b ocp4-images-bucket-retired --object-name rhel-8.3-test-200-12042020.ova.gz  --image-name rhel-8.3-test-200-12042020 --storagetype tier1 -r us-south`

I am getting below error
[code]
The image is present in that path. And us-south is valid region

Expected Result
The image should get imported with us-south region

[2020-12-04 13:32] #31 closed

[2020-12-04 13:47] Shilpi-Das1 commented on #38
/kind bug

[2020-12-04 15:18] mkumatag commented on #38
/assign

[2020-12-04 15:18] mkumatag commented on #37
/assign

[2020-12-04 15:30] #38 closed

[2020-12-04 16:06] mkumatag commented on #38
@Shilpi-Das1 this issue has been fixed, please download the binaries from https://github.com/ppc64le-cloud/pvsadm/actions/runs/400968637 under Artifactory section for pre-release testing,

[2020-12-07 06:53] arcprabh opened #40 "Terminate the pvsadm commands when a non root user attempts to invoke this tool for any of the image tasks"
Test Case:
========

Give full permissions to the temp dir that will be used for storing the converted OVA [ as root ], so that non root user can save the converted files in that directory.
Create a non root user called as arc1 on a RHEL 83 system and login.
Download the pvsadm binary as non root user and invoke it to do the OVA conversion.

Error:
====

[code]

Expected result:
============

Dont

[2020-12-07 06:56] bkhadars opened #41 "AccessKeyID not available for downlading the image from s3 to powervs"
Image import fails because of non-availability of the acesskeyid..

Does this occurs consistently? no

accesskey is getting deleted from the records before the image download happens. Hence the issue arises

Events:
[code]

[2020-12-07 06:58] bkhadars commented on #41
For this scenario cli is not returning any error.. the issue has to observed on the powervs UI.. where the image import fails
[code]

[2020-12-07 07:27] mkumatag commented on #40
/kind bug
/priority important-longterm

[2020-12-07 07:28] mkumatag commented on #41
/kind bug
/priority critical-urgent

[2020-12-07 07:28] mkumatag commented on #41
/assign

[2020-12-07 07:28] mkumatag commented on #40
/assign @bkhadars

[2020-12-07 07:35] mkumatag commented on #41
This is happening because of the race condition of import call vs the deletion of service credential in the defer call, hence logic needs be to changed to avoid the deletion of the service credential. Instead - planning to add a logic to retain the credential and reuse the credential if exist.

[2020-12-07 10:34] #41 closed

[2020-12-07 13:54] mkumatag opened #44 "Remove the advanced toolchain repo post installation"
Lately have seen a lot of issues while talking to the AT repository while using both CentOS and RHEL images, as we don't need this repo post-installation, hence we need to remove this repository towards the end of the prep script.

Errors:

[code]

/kind bug
/assign
/priority critical-urgent

[2020-12-07 13:56] mkumatag commented on #44
/cc @yussufsh @sudeeshjohn

[2020-12-07 18:00] mkumatag opened #46 "warning message while Qemu resize"
Displaying following warning message while resizing the raw disk:

[code]

/kind bug
/priority important-soon
/assign

[2020-12-08 04:54] mkumatag opened #47 "Add image links to the qcow2ova help"
Sometimes, it is difficult to find the links for downloading the qcow2 images, this task is for documenting the qcow2 image locations to the help message as a reference.

CentOS images: https://cloud.centos.org/centos/8/ppc64le/images/
RHEL image:
RHCOS images:

/bug
/assign
/priority important-longterm

[2020-12-08 04:54] mkumatag commented on #47
/kind feature

[2020-12-08 05:30] mkumatag opened #48 "Update Readme doc"
Update the readme doc with more information for the image management.

/kind feature
/assign @arcprabh
/priority important-soon

[2020-12-08 05:30] ltccci commented on #48
@mkumatag: GitHub didn't allow me to assign the following users: arcprabh.

Note that only [ppc64le-cloud members](https://github.com/orgs/ppc64le-cloud/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/

[2020-12-08 05:44] mkumatag commented on #40
This validation check can go here: https://github.com/ppc64le-cloud/pvsadm/tree/master/cmd/image/qcow2ova/validate

[2020-12-08 05:46] mkumatag commented on #48
/assign @arcprabh

[2020-12-08 05:53] mkumatag opened #49 "Consistent flag names across image upload and import"
upload flags:
[code]

import flags:

[code]

- bucket-name(upload) vs bucket(import) - we can have `bucket` both the places
- image-name(upload) vs object-name(import) - we can have `object-name` both the places

/kind bug
/priority important-soon
/assign @bkhadars

[2020-12-08 06:20] #44 closed

[2020-12-08 06:25] mkumatag opened #51 "Document the release process"
This task is for documenting the release process which involved tagging and publishing the release

/kind feature
/priority important-longterm

[2020-12-08 06:27] mkumatag commented on #51
commands used for tagging:

[code]

[2020-12-08 06:34] bkhadars commented on #49
Raised PR https://github.com/ppc64le-cloud/pvsadm/pull/52 to have consistent flags names across the import and upload sub commands

import flags
[code]

upload flags:
[code]

[2020-12-08 09:07] Shilpi-Das1 opened #53 "Rhel image conversion failed with v0.1-alpha.8 release"
Command used
 pvsadm image qcow2ova  --image-name rhel-83-12082020 --image-url  ./rhel-8.3-ppc64le-kvm.qcow2 --image-dist rhel --image-size 120 --rhn-user <rhel-user> --rhn-password <rhel-password> -t /shilpi

Error:

[code]
[output.log](https://github.com/ppc64le-cloud/pvsadm/files/5658078/output.log)

[2020-12-08 09:18] Shilpi-Das1 opened #54 "Centos image conversion failed with release v0.1-alpha.8"
command used
pvsadm image qcow2ova  --image-name centos-83-12082020 --image-url  ./CentOS-8-GenericCloud-8.3.2011-20201204.2.ppc64le.qcow2 --image-dist centos --image-size 120 --debug

Error
[code]

Output:

[output.log](https://github.com/ppc64le-cloud/pvsadm/files/5658126/output.log)

[2020-12-08 09:42] mkumatag commented on #53
This is happening because the remove command is `rpm -e ibm-power-repo.noarch`

but the installed rpm name is different

[code]

So adding the logic to remove any version with that name

/kind bug
/assign
/priority critical-urgent

[2020-12-08 10:02] mkumatag commented on #54
@sudeeshjohn any idea what is going on here?

/kind bug
/priority critical-urgent

[2020-12-08 10:42] #49 closed

[2020-12-08 11:26] mkumatag commented on #54
When I tried it worked without any issue!

here is the log:

[code]

[2020-12-08 11:30] #53 closed

[2020-12-08 11:39] mkumatag commented on #54
@Shilpi-Das1 can you please rerun with the binary under artifactory section here - https://github.com/ppc64le-cloud/pvsadm/actions/runs/408115123 which contains the fix for https://github.com/ppc64le-cloud/pvsadm/issues/53

[2020-12-08 11:40] mkumatag commented on #32
This was happening due to an invalid region passed for the cloud storage, after passing the right region import went through without any issues

[2020-12-08 11:41] mkumatag commented on #32
lowering the priority for the message correction

/priority important-longterm

[2020-12-08 13:01] Shilpi-Das1 commented on #54
@mkumatag @sudeeshjohn Tried creating centos and rhel image with the above binary
The images were successfully created. Hence closing this issue

[2020-12-08 13:01] #54 closed

[2020-12-08 16:52] arcprabh opened #56 "Add logic to prevent existing image overwrite in IBM cloud object store"
Test Case:
=======

Upload an OVA image with name rhel83-arc-dec3.ova.gz into the IBM COS.
Attempt to upload another image with same name to IBM COS.

[code]

Issue:
=====

Older image in IBM COS is getting overwritten.

Expected results:
=============

Image overwrite should not happen. Either the image should get saved with a random character or date/timestamp appended to the name or the upload

[2020-12-08 16:53] mkumatag commented on #56
/kind bug
/priority important-soon
/assign @bkhadars

[2020-12-08 20:14] rpsene opened #58 "Improve the help messages for the pvsadm image upload steps"
There is a mismatch between feature vs description for the image upload feature.

Flags:
      --instance-name string    Instance Name of the COS to be used
      --resource-group string   Provide Resource-Group (default "default")
      --service-plan string     Provide service plan type (default "standard")
  -b, --bucket-name string      Region of the COS instance
  -i, --image-name string

[2020-12-08 20:14] rpsene commented on #58
-b, --bucket-name string Region of the COS instance and  -r, --region string Region of the COS instance (default "us-south") are with the same description.

[2020-12-08 20:55] rpsene opened #59 "pvsadm image import should show the help message when the required parameters are not set"
[root@sample ~]# pvsadm image import
I1208 20:54:12.072636   67250 root.go:30] Using an API key from IBMCLOUD_API_KEY environment variable
Error: required flag(s) "bucket", "image-name", "object-name", "region" not set
E1208 20:54:12.072759   67250 root.go:59] required flag(s) "bucket", "image-name", "object-name", "region" not set

[2020-12-09 01:05] mkumatag commented on #58
/kind bug
/priority important-soon
/assign @bkhadars

[2020-12-09 01:36] mkumatag commented on #59
/kind bug
/priority important-soon
/assign

[2020-12-09 01:38] mkumatag commented on #59
After the fix, you will see this usage message:
[code]

[2020-12-09 01:56] mkumatag commented on #40
This has fixed via #52

[2020-12-09 01:56] #40 closed

[2020-12-09 05:28] #59 closed

[2020-12-09 05:58] #37 closed

[2020-12-09 13:51] #28 closed

[2020-12-10 11:49] mkumatag opened #66 "Add a wait for image import command"
At present image import process is async, just imports the image and exits irrespective of the state and final result of it. This behavior is good for a few cases but not really suitable for the e2e automation, hence a watch call is required for waiting for the image to uploaded properly or fail.

/kind feature
/assign
/priority important-soon

[2020-12-10 11:49] mkumatag commented on #66
/cc @bpradipt @bkhadars

[2020-12-10 12:00] mkumatag commented on #66
For the failure case, the user will get the following message:

[code]

[2020-12-10 12:28] mkumatag commented on #66
successful import with `-w` option show this:

[code]

[2020-12-10 12:42] Shilpi-Das1 opened #68 "Got access denied while importing the new image with alpha 9 release"
Command used
 pvsadm image import -n ocp-cicd-sydney-04 -b shilpibucket1 --object-name rhel-83-121020.ova.gz --image-name rhel-11-test-121020 -r us-south
Output:
[code]
When ran by providing new service credential its passing
pvsadm image import -n ocp-cicd-sydney-04 -b shilpibucket1 --object-name rhel-83-121020.ova.gz --image-name rhel-181-test-121020 -r us-south --service-credential-name newcred

[2020-12-10 14:51] mkumatag commented on #68
Today I also encountered this issue as well, this happens when

1. User1 imports the image with service credential Cred1(newly created by User1 auth)
2. User2 imports the image with service credential Cred1(already existing one from User1 with User1 Auth)

So will have to figure out a way to use a proper credential instead of reusing the existing one

/assign
/priority critical-urgent
/kind bug

[2020-12-10 14:53] mkumatag commented on #68
@bkhadars FYI ^^

[2020-12-10 15:47] sudeeshjohn opened #69 "pvsadm image upload is crashing for an invalid input"
entered a character instead of a number . Output can be an error message
[code]

[2020-12-10 15:51] sudeeshjohn opened #70 "pvsadm image upload - defaulting to `default` resource group"
It would be great if  the tool ask for the resource group also instead of defaulting to `default` resource group
[code]

[2020-12-10 16:19] mkumatag commented on #70
/kind bug
/priority important-soon
/assign @bkhadars

[2020-12-10 16:20] mkumatag commented on #69
/kind bug
/priority important-longterm
/assign @bkhadars

We won't be able to make it for GA, will look into post GA

[2020-12-10 16:27] #68 closed

[2020-12-10 16:34] mkumatag commented on #68
@Shilpi-Das1 you can fetch the binaries under the Artifacts section for pre-release master branch binaries - https://github.com/ppc64le-cloud/pvsadm/actions/runs/413444502

[2020-12-10 16:35] #66 closed

[2020-12-10 16:49] sudeeshjohn opened #72 "Unable to reuse the bucket name even after deleting the bucket"
pvsadm tool is throwing error while re-using bucket name which is deleted manually from UI

To reproduce:

1. Create COS and Bucket via the pvsadm
[code]

2. Remove the image, bucket and cos from UI

3. Re do 1st step

[code]

[2020-12-10 16:51] mkumatag opened #73 "Create an Issue template"
Create an Issue template to fill all the required details to debug the issue

/assing
/kind documentation
/priority important-longterm

[2020-12-10 16:52] mkumatag opened #74 "Create PR template"
Create PR template

/kind documenation
/priority important-longterm

[2020-12-10 16:52] ltccci commented on #74
@mkumatag: The label(s) `kind/documenation` cannot be applied, because the repository doesn't have them

<details>

In response to [this](https://github.com/ppc64le-cloud/pvsadm/issues/74):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, plea

[2020-12-10 16:58] mkumatag commented on #72
This seems like an error is coming all the way from the COS API, not what is the problem atm.

/cc @bkhadars

[2020-12-10 17:28] mkumatag commented on #70
Instead of using the hardcoded `default` name, the program should find the default resource group set for the cos instance creation.

[2020-12-10 18:12] mkumatag commented on #72
When we try immediately after the bucket deletion even I have seen this issue, give some time like 5-10mins, you won't see this issue.

[2020-12-10 18:17] #70 closed

[2020-12-10 18:23] mkumatag commented on #72
and here is the notice I see in the UI while deleting the bucket:

[code]

This means that we can't use the same name till 15mins post deletion.

[2020-12-11 03:30] sudeeshjohn opened #77 "Unable to import image from newly created bucket - Access denied"
[code]

[2020-12-11 03:32] mkumatag commented on #77
seems like dup of https://github.com/ppc64le-cloud/pvsadm/issues/68, got resolved recently,

[2020-12-11 03:37] sudeeshjohn commented on #77
the new binary mentioned here  https://github.com/ppc64le-cloud/pvsadm/issues/68#issuecomment-742634523 worked !

[2020-12-11 04:16] mkumatag commented on #77
cool
/close

[2020-12-11 04:16] #77 closed

[2020-12-11 04:16] ltccci commented on #77
@mkumatag: Closing this issue.

<details>

In response to [this](https://github.com/ppc64le-cloud/pvsadm/issues/77#issuecomment-742957582):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-12-11 04:20] Rajalakshmi-Girish opened #78 ""pvsadm purge vms" is failing when GET of an instance errors out"
`pvsadm purge vms `is failing when GET of one of the vms in the list throws an error.

[code]
**The purge vms should continue if failure to get one of the vm so that script will proceed and exit the overall script with that error.**

[2020-12-11 04:32] mkumatag commented on #78
/assign @Rajalakshmi-Girish

[2020-12-11 06:03] #58 closed

[2020-12-11 06:20] Rajalakshmi-Girish commented on #78
/kind bug

[2020-12-11 09:43] #78 closed

[2020-12-11 09:50] sudeeshjohn commented on #72
Based on https://github.com/ppc64le-cloud/pvsadm/issues/72#issuecomment-742706005 closing this .

[2020-12-11 09:50] #72 closed

[2020-12-11 11:07] #36 closed

[2020-12-11 14:00] sudeeshjohn opened #82 "pvsadm image import is not picking the IBMCLOUD_API_KEY from environment"
[code]

[2020-12-11 15:19] Shilpi-Das1 commented on #82
Same happened with me for release 10. For upload it picked up but for import it was not picking up. I had to pass --api-key parameter for import though IBMCLOUD_API_KEY  was set

[2020-12-11 16:21] mkumatag commented on #82
This can be because of this change - https://github.com/ppc64le-cloud/pvsadm/pull/65, looking into it.

[2020-12-11 16:48] mkumatag commented on #82
This is because of adding the new persistantprerun which is not really required for this subcommand and removing the other flags while code rebase part of #65

[2020-12-11 16:48] mkumatag commented on #82
/assign

[2020-12-11 16:49] #82 closed

[2020-12-12 03:28] mkumatag opened #84 "import is failing with Access Denied error"
Hitting with the following error while running the import operation:

[code]

**Root cause:**

Service credentials are global in nature and you will get a list of them when you run the `/v2/resource_keys` GET api, but the import will succeed only when the service credential is really tied to the cos instance from where we are trying to pull the image.

In the above case, we are fetching the servic

[2020-12-12 07:52] mkumatag opened #86 "Expose cloud-config template"
Expose the cloud-config template option to the user to override it.

/kind feature
/priority important-longterm

[2020-12-12 14:05] #84 closed

[2020-12-13 17:28] mkumatag opened #87 "qcow2ova: Improve the image preparation time"
In the image preparation, we have seen that AT repo takes lot of time to download the initial repository from the IBM site, and this in increasing the overall time take for image preparation.

[code]

Though this repository get installed with `ibm-power-repo` rpm but haven't seen using anywhere while image prep, so we can disable the repository just post-installation.

[2020-12-13 18:53] mkumatag commented on #87
Here is the command: `yum-config-manager --disable Advance_Toolchain` can be used to disable the AT repo during the prep step

changes needed:

[code]

[2020-12-14 03:57] mkumatag opened #88 "Fix the dsIdentify file"
This task is for fixing the dsIdentify file extension properly from  `/etc/cloud/ds-identify.conf` to `/etc/cloud/ds-identify.cfg`

[2020-12-14 05:31] #88 closed

[2020-12-14 06:19] mkumatag opened #91 "Move PR testing to Prow"
Right now we are using the GH actions for both PR testing, for cutting the release(tags), and merge as well. This will create a problem when we exceed the free quota, hence PR testing and anything which is not needed for binary publication needs to be moved to Prow infra

/kind cleanup
/priority important-longterm

[2020-12-14 06:26] mkumatag opened #92 "Add test: e2e run - qcow2ova, upload, import"
Add e2e test

Flow:
- Convert the qcow2 to ova
- Upload the image
- Import the image from bucket to PowerVS instance

Flavors need to be covered:
- RHEL
- CentOS
- RHCOS

/kind feature
/priority important-longterm

[2020-12-14 06:27] #87 closed

[2020-12-14 09:20] mkumatag opened #93 "Feed the pvsadm tool version into ova image"
Rightnow it is very difficult to make out from which version of pvsadm command the ova image created, need to figure out a way of embedding the tool version into the ova bundle.

[2020-12-15 07:22] mkumatag opened #94 "Windows Support"
This task is for supporting the windows platform

/kind feature
/priority important-longterm

[2020-12-15 08:11] mkumatag commented on #94
/assign

[2020-12-15 10:48] mkumatag commented on #94
image import fails:

[code]

[2020-12-15 10:50] mkumatag commented on #94
image import passed!

[code]

[2020-12-15 11:01] #94 closed

[2020-12-15 12:59] #48 closed

[2020-12-15 14:29] mkumatag opened #97 "Show the progress bar while uploading the image to COS bucket"
Right now it is very difficult to understand the progress of image upload, need to have a progress bar to show the % and remaining data to be uploaded.

/kind feature
/priority important-longterm

[2020-12-15 18:29] mkumatag opened #98 "Document the The system cannot find the path specified error in windows"
While running the following command on the Windows platform, failed to find the file on that

[code]

This is because this command is running in the cygwin environment and the actual path of the file located in <cygwin_path>/tmp/XXXXX, hence need documentation about how to use this in windows.

/kind documentation
/priority important-soon

[2020-12-17 09:55] cunlifs opened #101 "COS instance not found"
Hi, I'm trying to copy an OVA image directly from my PowerVC VM (RHEL ppc64le) to my COS bucket. However I'm getting an error saying it cannot find my COS instance.

[root@sc-pvc-lab57 ova]# pvsadm image upload --bucket eu-gb-bucket1 --file AIX7.2.2.1.ova.gz --cos-instance-name Cloud-Object-Storage-d9
I1216 16:42:20.982302   24351 root.go:29] Using an API key from IBMCLOUD_API_KEY environment vari

[2020-12-17 10:00] bpradipt commented on #101
@mkumatag @bkhadars ptal

[2020-12-17 10:05] mkumatag commented on #101
@cunlifs if above bucket already exists, can you please try without `--cos-instance-name` param, we have logic written in the code to search the respective COS instance automatically.

[2020-12-17 10:15] cunlifs commented on #101
@mkumatag
[root@sc-pvc-lab57 ova]# pvsadm image upload --bucket eu-gb-bucket1 --file AIX7.2.2.1.ova.gz
I1217 10:01:38.439218   16229 root.go:29] Using an API key from IBMCLOUD_API_KEY environment variable
Provide Name of the cos-instance:Cloud-Object-Storage-d9
I1217 10:01:50.466002   16229 upload.go:128] Creating a new cos Cloud-Object-Storage-d9 instance
Error: ResourceGroupDoesnotExist: Given r

[2020-12-17 10:18] mkumatag commented on #101
you must be using the older version of pvsadm tool, can you please run the following command and let me know which version you are using?

[code]

[2020-12-17 10:18] cunlifs commented on #101
[root@sc-pvc-lab57 ova]# pvsadm version
I1217 10:05:59.307016   47771 root.go:29] Using an API key from IBMCLOUD_API_KEY environment variable
Version: v0.1, GoVersion: go1.15.5

[2020-12-17 10:45] mkumatag commented on #101
/bug
/priority important-soon
/assign @bkhadars

[2020-12-17 10:46] mkumatag commented on #101
Tried the following command as well with a region flag to it:

[code]

[2020-12-17 11:30] bkhadars commented on #101
@cunlifs default region is set to us-south, if incase bucket exists in other region please provide --region flag as input,
ex: if region is eu-gb the cmd looks like

`pvsadm image upload --bucket eu-gb-bucket1 --file AIX7.2.2.1.ova.gz --cos-instance-name Cloud-Object-Storage-d9 --region eu-gb`

[2020-12-17 11:35] bkhadars commented on #101
@cunlifs are you trying to create the new cloud object storage instance or instance already exists?

[2020-12-17 11:37] cunlifs commented on #101
Thanks @mkumatag issue now resolved. The service credential API (irrespective of the role you give it) does not allow permissions to see the resource. Added a IAM key and it worked.

Also had to set "--bucket-region eu-gb".

[2020-12-17 11:39] mkumatag commented on #101
Thanks @cunlifs , will work the flow for allowing the user to upload the objects for the classic way like `access-key` and `secret-key` for those who does not have the right permissions to list the resources.

[2020-12-17 11:48] mkumatag opened #103 "Add a image upload flow via access-key and secret-key"
Thread from https://github.com/ppc64le-cloud/pvsadm/issues/101#issuecomment-747387888

In the production, it is very likely to have a limitation of having just a service credential created for the COS bucket, the existing code needs an IAM API key with permissions assigned like resource lists etc.

This task is to add the support for the image upload operation with `access-key` and `secret-key` op

[2020-12-17 11:50] mkumatag commented on #101
Used the following set of commands to debug and see if API key really can list the COS resources:

[code]

[2020-12-18 04:29] mkumatag opened #104 "Create docs for image import and upload"
This task is adding the guides for the user to instruct how to use image import and upload subcommands

/kind documentation
/priority important-soon

/assign @bkhadars

[2020-12-18 04:30] mkumatag opened #105 "Guides for image conversion qcow2 to ova"
Guides for image conversion qcow2 to ova

/kind documentation
/assign
/priority important-soon

[2020-12-18 10:24] #73 closed

[2020-12-18 15:20] #105 closed

[2020-12-24 15:24] poyrazsagtekin opened #108 "[Windows] Getting a non-root user error"
I'm getting the following error when I'm trying to run pvsadm in Windows Server 2016 with Administrator user:

E1224 18:23:12.767867    6536 root.go:68] check failed: non-root user is executing the qcow2ova sub-command
Hint: Expected root user to execute the qcow2ova subcommand

And the command I'm running is:
pvsadm image qcow2ova rhcos46 --image-url https://mirror.openshift.com/pub/openshift-v4/

[2020-12-24 15:33] poyrazsagtekin commented on #108
I'm running CMD as administrator

[2020-12-25 12:01] mkumatag commented on #108
qcow2ova subcommand is supported only on linux/ppc64le - RHEL or CentOS vm. Will enhance the error message to instruct the user to choose the right platform to run the command.

[2021-01-03 06:51] bluelife713 opened #110 "Error: region not found for the zone, talk to the developer to add the support into the tool: dal12"
**What happened**:

Hi, I have below error when trying pvsadm image import. My PowerVS instance is in Dallas12, and my COS bucket region is in eu-de.

[code]

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- pvsadm version (use `pvsadm version`): Version: v0.1, GoVersion: go1.15.5
-

[2021-01-04 05:31] bpradipt commented on #110
cc @mkumatag @bkhadars

[2021-01-05 05:28] mkumatag commented on #110
/priority important-soon

[2021-01-05 05:42] bkhadars commented on #110
@bluelife713 please provide command you are using for importing the image

[2021-01-05 08:30] bluelife713 commented on #110
pvsadm image import –pvs-instance-name <instance-name-dallas12> --bucket <bucket-name> --object <object-name> --pvs-image-name <image-name> --bucket-region <eu-de>

[2021-01-06 05:11] bkhadars commented on #110
Dallas 12 zone is named as dal12 whcih is not currently added, create a new PR for adding Dallas 12 zone under https://github.com/ppc64le-cloud/powervs-utils repo.

PR: https://github.com/ppc64le-cloud/powervs-utils/pull/1

[2021-01-06 05:37] mkumatag commented on #110
@bkhadars have merged the above PR, lets update the go mod dependency file with a newer version.

[2021-01-06 10:30] #110 closed

[2021-01-11 07:59] #108 closed

[2021-02-02 04:56] mkumatag opened #117 "pvsadm with a private cos endpoint"
There is requirement of using the private cos endpoint instead for the secure private n/w use case, currently I see an option `--bucket-region` to supply the region, this option is used internally to build the cos URI, this task is to supply the `private.` prefix with this flag and make sure things are working fine(upload and import)

e.g:
Public EP: s3.us-south.cloud-object-storage.appdomain.clou

[2021-02-02 04:59] mkumatag commented on #104
fixed via #107

[2021-02-02 04:59] #104 closed

[2021-02-02 14:57] #56 closed

[2021-02-02 14:57] #69 closed

[2021-02-03 12:51] mkumatag opened #118 "Disable the network in the cloud-init config"
**What happened**:

Cloud-init does not work properly with multipath disks, hence disabling the network post-boot will solve the issue by not running the network-scripts after every boot. Hence cloud-init config file need to be enhanced further to disable the network while building the image.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2021-02-15 17:29] smatzek opened #120 "Image import fails with "failed to find the COS instance ...""
**What happened**:
`pvsadm image import` fails with " failed to find the COS instance for the bucket mentioned"

[code]

In the flow above, the pvsadm tool can find the bucket on the upload command and the object storage APIs it is calling work. The import command is unable to find the bucket.

**What you expected to happen**:
Successful import to Power VS

**How to reproduce it (as minimally and

[2021-02-15 20:40] smatzek commented on #120
I continued to work on this issue throughout the day, including looking at pvsadm source, the `github.com/IBM/platform-services-go-sdk/resourcecontrollerv2` source, and the Resource Controller v2 REST API docs.

I have determined that I was hitting a pagination issue with the `https://resource-controller.cloud.ibm.com/v2/resource_instances?type=service_instance` API that is ultimately being called

[2021-02-16 03:42] bkhadars commented on #117
/cc @mkumatag
Tested using the private endpoints, not able to perform any s3 operation like createBucket or ListBuckets using private endpoints from both powervs and vpc environment.

#### Below are the observations:
##### PowerVS Environment:

[code]
[code]

##### VPC Environment:
[code]
[code]

Test Snnipet code used for performing the s3 operations:
[code]

Output:
[code]

[2021-02-16 05:23] #118 closed

[2021-02-16 05:28] mkumatag commented on #117
@bpradipt we aren't able to talk to the private endpoint from either VPC or PowerVS machines, let us know if any additional n/w configuration required to talk to the private endpoint?

[2021-02-16 05:49] mkumatag commented on #120
can you please set this environment variable and see the traces of the API calls they are using will give us more ides how pagination is happening in the command `export IBMCLOUD_TRACE=true`

[2021-02-16 13:02] smatzek commented on #120
Adding `export IBMCLOUD_TRACE=true` did not produce any additional output, either on stdout/err or in the pvsadm.log.

Here is more info on the pagination. The ResourceControllerV2.ListResourceInstances will call the following API. In the API I show below I am adding the query parameter to set limit to 400, but it only returns 100 rows. This matches the REST API documentation for this call:

[code

[2021-02-18 01:49] bkhadars commented on #117
@mkumatag @bpradipt with classic infra setup, using COS api's I am able to list the buckets from the COS instance, but the bucket creation operation doesn't succeed.

[code]

[2021-02-18 04:39] #120 closed

[2021-02-18 04:59] mkumatag opened #122 "Pagination while reading the services"
Ref: https://github.com/ppc64le-cloud/pvsadm/issues/120#issuecomment-779822162

Currently, pvsadm reads the instance list but this will create a problem where there are more than 100 entries, for which we need a pagination mechanism to read all the services in the account.

/kind feature
/assign @bkhadars

[2021-03-02 11:44] mkumatag opened #125 "Add support for IBM Cloud staging environment"
Currently, the tool does not support the test environment, this enhancement is for supporting the different environments:

/kind feature
/assign

[2021-03-15 07:21] #125 closed

[2021-03-16 14:24] mkumatag commented on #117
moving to 21.03 milestone

[2021-04-14 06:38] Shilpi-Das1 opened #135 "Getting region not found error while importing image"
pvsadm version
Version: v0.1.1-alpha.4, GoVersion: go1.16.2

Region: osa21
Command used
pvsadm image import --pvs-instance-name ocp-cicd-osaka-21 -b ocp4-images-bucket --object $OBJECT_NAME --pvs-image-name $IMAGE_NAME --bucket-region us-south

Error:
Error: region not found for the zone, talk to the developer to add the support into the tool: osa21
Usage:
  pvsadm image import [flags]

One more r

[2021-04-14 07:30] mkumatag commented on #135
/assign @bkhadars

[2021-04-14 07:31] mkumatag commented on #135
@bkhadars lets add the support here - https://github.com/ppc64le-cloud/powervs-utils for this new region.

@Shilpi-Das1 are there any other regions included?

[2021-04-14 07:32] mkumatag commented on #135
/kind feature

[2021-04-14 07:33] Shilpi-Das1 commented on #135
No This is the only new region

[2021-04-14 07:49] #122 closed

[2021-04-15 05:16] mkumatag commented on #135
@bkhadars this is not scaling really well, will have to talk to the PowerVS folks and find all the possible extension and find the pattern and use that logic if possible!

[2021-04-15 05:17] mkumatag commented on #135
reopened this issue to update the pvsadm tool with latest powervs-utils repo

[2021-04-15 05:19] mkumatag opened #136 "Add a logic to get the regions automatically"
Rightnow pvsadm tool depends on https://github.com/ppc64le-cloud/powervs-utils/blob/main/region.go#L8 library to get the region's name, this keeps breaking whenever there is a new DC introduced, hence need a different approach to include all the regions in one shot or find some pattern to get this region from the string automatically.

/cc @bkhadars

[2021-04-15 05:20] mkumatag commented on #136
/assign @bkhadars
/king feature

[2021-04-15 06:48] mkumatag commented on #135
Closed via #137

[2021-04-15 06:48] mkumatag commented on #135
/close

[2021-04-15 06:48] #135 closed

[2021-04-15 06:48] ltccci commented on #135
@mkumatag: Closing this issue.

<details>

In response to [this](https://github.com/ppc64le-cloud/pvsadm/issues/135#issuecomment-820163597):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-04-15 06:58] mkumatag commented on #135
released with the fix - https://github.com/ppc64le-cloud/pvsadm/releases/tag/v0.1.1-alpha.5

[2021-05-06 11:03] mgiessing opened #142 "Network error when converting rhel qcow2 to ova"
When I'm trying to convert the rhel-8.3.qcow2 image to ova I'm facing a network error as shown below.

[code]

I've followed this solution idea, but the general connection seems to be available: https://access.redhat.com/solutions/1323123

At least from the host I can reach the subscription server:
[code]

Here is the full error log:

[code]

Any idea what's going wrong here?

[2021-05-07 07:23] bkhadars commented on #142
@mgiessing  The error has nothing to do with the pvsadm tool, sometimes cdn network might have issues. please retry once , if it fails again please provide the contents of the mentioned files `/etc/rhsm/rhsm.conf, /etc/hosts, /etc/resolv.conf`.  and provide `/var/log/rhsm/rhsm.log` log file content as well

[2021-05-07 14:57] mgiessing commented on #142
You're right, today I was able to run it without issues! So probably an issue with the cdn

[2021-05-07 14:57] #142 closed

[2021-05-25 09:37] Shilpi-Das1 opened #147 "Pvsadm purges images even they are attached to vm"
**pvsadm purges images even they are attached to vm instead of failing with error**

[code]

**Expected Behavior**
The command should fail if the image is attached to vm
Its behaviour should be similar to that of UI

**Environment**:
- Pvsadm Version: v0.1.2-alpha.2

[2021-05-25 11:15] mkumatag commented on #147
@Shilpi-Das1 Earlier, we use to get an error message if image is mapped to any VM from the API itself. Is it displaying any error or it blindly deleting the image if it is attached?

[2021-05-25 11:47] Shilpi-Das1 commented on #147
Its blindly deleting image
**Before deletion**
![image](https://user-images.githubusercontent.com/69339560/119492572-dca00100-bd7c-11eb-80df-a4806e9303da.png)

**Deletion of image**
![image](https://user-images.githubusercontent.com/69339560/119492667-f6d9df00-bd7c-11eb-8218-37799779a354.png)

**After deletion**
![image](https://user-images.githubusercontent.com/69339560/119492751-0f49f980-bd7d-11

[2021-05-25 13:52] mkumatag commented on #147
Can you create a support ticket for the same and get an answer to what's wrong with it and why API is behaving differently here?

[2021-05-25 13:55] Shilpi-Das1 commented on #147
Which Api does it use?

[2021-05-25 14:25] mkumatag commented on #147
https://cloud.ibm.com/apidocs/power-cloud#pcloud-cloudinstances-images-delete

[2021-05-28 08:01] Shilpi-Das1 commented on #147
Created Issue https://cloud.ibm.com/unifiedsupport/cases?accountId=65b64c1f1c29460e8c2e4bbfbd893c2c&number=CS2325043

[2021-06-04 10:26] marobbo opened #148 "CoreOS qcow converted by pvsadm boots to a password prompt"
Not sure if this is the correct place to report this but I thought this is the most likely step something has happened. If in the wrong place just let me know

**What happened**:

CoreOS image that was converted using the qcow2ova function boots to a password prompt on PowerVS

**What you expected to happen**:

CoreOS to boot to command prompt

**How to reproduce it (as minimally and precisely as

[2021-06-04 14:17] mkumatag commented on #148
can you please be more specific, where you have seen this behaviour? Any screenshot explaining problem will be great.

[2021-06-04 14:22] mkumatag commented on #147
After looking this ticket, pvsadm is behaving as expected. Please frame advanced regex expression to exclude any in-use images if required.

[2021-06-04 14:22] #147 closed

[2021-06-07 00:51] marobbo commented on #148
Below is a screenshot from the PowerVS console for my bootstrap machine

<img width="658" alt="image" src="https://user-images.githubusercontent.com/24534242/120945849-e7479680-c77d-11eb-8cec-917674d45e37.png">

However when looking at the procedure to install 4.7 it states you need to enter the coreos-installer command

<img width="867" alt="image" src="https://user-images.githubusercontent.com/2

[2021-06-07 04:34] marobbo commented on #148
Sorry. I have been using the wrong image. Sorry for the hassle

[2021-06-07 04:34] #148 closed

[2021-07-02 12:09] mgiessing opened #150 "convert-upload-images-powervs fails on MacOS"
**What happened**:

Running the `convert-upload-images-powervs` script fails on MacOS, since `platform_checks` command is not found. On a ubuntu linux container everything works fine

**What you expected to happen**:

I'd expect that this would also run on a mac, since this tutorial has a mac output of this command:
https://developer.ibm.com/tutorials/create-ova-images-using-centos-in-powervs/

**

[2021-07-03 01:49] mkumatag commented on #150
/cc @sudeeshjohn

[2021-07-03 01:49] mkumatag commented on #150
/assign @sudeeshjohn @Shilpi-Das1

[2021-07-15 06:18] mkumatag commented on #46
/unassign

[2021-07-15 06:51] mkumatag opened #152 "Empty pvsadm.log file"
The empty file gets created all the time

[2021-07-15 07:08] mkumatag commented on #152
This file is created for the audit logs purpose only for all the powervs api calls we make through the tool especially those delete calls.

I shall rename this file to avoid confusion with the verbose/error log.

[2021-07-15 08:31] sudeeshjohn commented on #150
I would suggest to use the latest bash version in your Mac

[code]

[2021-07-20 05:11] mkumatag opened #153 "Error in the import_image_remote"
[code]

[2021-07-20 05:35] mkumatag opened #154 "Update the power-go-client"
Update the power-go-client to the latest version

[2021-07-21 04:32] #154 closed

[2021-07-21 05:02] #46 closed

[2021-07-21 05:14] #153 closed

[2021-07-28 17:02] mgiessing commented on #150
Using the latest bash fixes the problem - thanks!

[2021-07-28 17:02] #150 closed

[2021-08-09 09:28] mgiessing opened #158 "convert-upload-images-powervs script: Verify images by e.g. SHA value"
If the RHEL bastion image link is not escaped ( `&` must be escaped to `\&`) the qcow2 file is downloaded incorrectly, but the script will continue.
Maybe a SHA value comparison can be used to verify the image.

[2021-08-09 10:14] mkumatag commented on #158
/cc @sudeeshjohn @Shilpi-Das1

[2021-08-11 02:13] Rajalakshmi-Girish opened #159 "image import errors out mentioning invalid osType in body"
**What happened**:
Image import is throwing below error:
[code]
The default value of osType is `redhat`, but the API is throwing an error asking for value as `rhel`.
But the pvsadm flag --ostype doesnt accept value rhel as allowable value for that flag are [aix, ibmi, redhat, sles]:
[code]

**What you expected to happen**:
The image should be imported successfully without throwing osType error.

*

[2021-08-11 02:14] Rajalakshmi-Girish commented on #159
/cc @Shilpi-Das1

[2021-08-11 03:10] mkumatag commented on #159
This was working for years now, wondering is this a new regression issue or so?

[2021-08-11 03:12] mkumatag commented on #159
I still see redhat here in the API reference guide here - https://cloud.ibm.com/apidocs/power-cloud#pcloud-cloudinstances-images-post

<img width="647" alt="image" src="https://user-images.githubusercontent.com/12646029/128963770-586fc513-8577-46a8-87ea-596142e040d3.png">

Please create a service ticket with your findings.

[2021-08-11 03:13] mkumatag commented on #159
/assign @bkhadars

[2021-08-11 05:48] Rajalakshmi-Girish commented on #159
Yes, I did see this...Searched on the net if there is any change in API.
But couldn't get any reference for mapping the error that is being thrown now!

[2021-08-13 02:30] mkumatag commented on #159
Got to know that this option is not really required for the image import option for ova image, so will have to stop feeding this in the body.

[2021-08-18 01:25] Rajalakshmi-Girish commented on #159
Can you please share the source from where this information was got?
We may share that in support ticket as well.

[2021-08-18 07:11] mkumatag commented on #159
from the API doc:

[2021-09-02 10:05] Madhan-SWE opened #165 "Add Unit test cases with Mocks using GoMock and Mockgen for pvsadm image sync command"
- Explore Go mock framework and generate mock packages.

- Write unit test cases using the mock libraries for pvsadm image sync command.

[2021-09-14 05:43] Madhan-SWE commented on #165
- Explored unit testing and go mock framework
- Refactored the code for image sync command inorder to fit for unit testing
- Unit test cases are added
- PR review is in progress

[2021-09-17 03:36] Madhan-SWE commented on #165
PR is merged

[2021-09-17 03:36] #165 closed

[2021-09-17 04:03] mkumatag commented on #165
Tip: you can also link the issue to PR to close automatically when PR merges, [more info ](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2021-09-17 09:12] Madhan-SWE commented on #165
Sure, Thanks for the tips Manju.

[2021-09-22 11:18] Madhan-SWE commented on #165
/assign

[2021-10-06 09:29] mkumatag opened #167 "Update the vendors to latest levels"
Seen following security vulnerabilities

<img width="985" alt="image" src="https://user-images.githubusercontent.com/12646029/136177192-a910a85a-ff29-401a-ba0f-868cce807ac6.png">

Lets update all the possible packages to the latest levels.

[2021-10-06 09:31] #101 closed

[2021-10-11 09:55] #167 closed

[2021-10-14 08:02] mkumatag opened #170 "Add support for the import image from public bucket"
IBM Cloud PowerVS is going to support importing custom images from the public bucket without the need of s3 credentials, this will help users to import the image from any public bucket managed by the OS providers like RedHat for RHCOS.

[2021-10-20 03:04] mkumatag commented on #91
GH actions is doing its job well, I don't see issues so far, will stick to that as of now

[2021-10-20 03:04] #91 closed

[2021-10-20 04:18] mkumatag opened #171 "Rename branch master => main"
Rename branch master => main

[2021-10-20 09:19] mkumatag opened #172 "Add dependabot for updating the go.mod"
**What happened**:

Add [dependabot](https://dependabot.com/#how-it-works) to keep go.mod upto date

[2021-10-20 09:55] #172 closed

[2021-10-20 12:39] ghatwala opened #175 "Unable to import images to powerVS instance"
Unable to import image to powerVS instance.
[code]

**What happened**:
Expected all cases mentioned here to work - https://github.com/ppc64le-cloud/pvsadm/blob/master/docs/How%20to%20Import%20Image%20to%20PowerVS%20Instance.md#importing-image-to-powervs-instance-from-s3-bucket-using-pvsadm

**What you expected to happen**:
I am guessing because the cloud account wherein i  tried doesn't have acces

[2021-10-27 10:23] #175 closed, assigned to bkhadars

[2021-11-09 09:57] ghatwala commented on #175
hey @mkumatag  - just tried this and it works now , thanks for the fix
[code]
confirmed from UI too ...
![image](https://user-images.githubusercontent.com/14157728/140902837-1e69af62-0ef7-440a-9145-af34a944f221.png)

[2021-11-16 12:08] mkumatag opened #194 "Usage shows 0"
**What happened**:

usage shows as 0 as shown below:

[code]

**What you expected to happen**:

Shouldn't be 0 considering the vms present in service instance

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- pvsadm version (use `pvsadm version`):
- Environment - On-Prem or IBM PowerVS:
- OS (e.g: `cat /etc/os-release`):
- K

[2021-12-08 05:10] mkumatag opened #208 "Update the power-go-client with the latest version"
Update the power-go-client with the latest version, this needs a manual intervention because there are breaking changes in the recent release.

/assign @bkhadars

[2022-01-15 03:47] mkumatag commented on #208
version update to 1.1.0 is failing via https://github.com/ppc64le-cloud/pvsadm/pull/222, needs a manual fix

@dharaneeshvrd can you please take a look at it?

[2022-01-27 06:10] mkumatag commented on #208
fixed via #225

[2022-01-27 06:10] #208 closed

[2022-03-09 12:37] Shilpi-Das1 opened #239 "Latest CoreOS images rhcos-411 and rhcos-410 are failing with default image-size 11GB"
Images used from URLs
[code]
Both of them worked with image-size 16GB
I think the default image-size needs to be changed

[2022-03-09 12:38] Shilpi-Das1 commented on #239
/cc @mkumatag @sudeeshjohn

[2022-03-09 12:50] mkumatag commented on #239
@Shilpi-Das1 can you check with Prashant from RH on this? we should understand what's going on there and also going forward we should stop using pvsadm scripts for converting these images because they already started publishing images 4.10 onwards.

via https:

[code]

In every storage bucket:

[code]

[2022-03-09 12:57] Shilpi-Das1 commented on #239
ok thanks. I think we just need to import the image

[2022-03-10 04:36] Shilpi-Das1 commented on #239
Closing this issue as new rhcos image is available from bucket

[2022-03-10 04:36] #239 closed

[2022-03-10 11:19] Shilpi-Das1 opened #240 "Image import is in queued state when using pvsadm for more than 2 hours"
The image  import is in queued state when using pvsadm for more than 2 hours. Tried importing the same image from UI as well it only took 15 mins

Steps to reproduce:
1. Download image from `https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/pre-release/latest-4.10/rhcos-powervs.ppc64le.ova.gz`
2. Upload it to cos bucket
3. Use pvsadm to import image
Command used:
` pvsadm im

[2022-03-10 11:19] Shilpi-Das1 commented on #240
/cc @mkumatag @sudeeshjohn

[2022-03-10 11:38] mkumatag commented on #240
@Shilpi-Das1 can you post the complete log output for the import command like what it prints while watching?

[2022-03-10 11:40] Shilpi-Das1 commented on #240
[code]

[2022-03-10 11:52] mkumatag commented on #240
/assign @Prajyot-Parab ptal

if required lets use the latest version of API to image import

[2022-03-21 08:27] Prajyot-Parab commented on #240
@Shilpi-Das1 This is resolved, please try with latest code changes.

[2022-03-21 08:27] Prajyot-Parab commented on #240
@mkumatag We can close this one.

[2022-03-21 08:30] mkumatag commented on #240
@Shilpi-Das1 can you please confirm?

[2022-03-22 07:41] Shilpi-Das1 commented on #240
@Prajyot-Parab @mkumatag I used the latest pvsadm version `v0.1.4-alpha.4` but still getting same error.

[code]

[2022-03-22 08:04] Prajyot-Parab commented on #240
@Shilpi-Das1 I was able to import image (tried twice worked fine)

[code]

[2022-03-22 08:09] Shilpi-Das1 commented on #240
@Prajyot-Parab Can you please try https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/pre-release/latest-4.10/rhcos-powervs.ppc64le.ova.gz
I try to upload that to a bucket and then import it

[2022-03-24 01:18] Shilpi-Das1 opened #256 "Create a flag for root password removal"

[2022-03-24 01:19] Shilpi-Das1 commented on #256
/cc @mkumatag

[2022-03-24 15:54] Prajyot-Parab commented on #240
I was able to recreate the issue with above image

Root cause for image being getting stuck in queued state -
`operation failed::uncompress of image ova file 061004303249921-rhcos-410.84.202201251004-0-powervs.ppc64le.ova.gz failed:command gunzip failed
`

[2022-03-25 10:05] chandan-chopra opened #257 "convert and upload image to powervs fails"
**What happened**:

**What you expected to happen**:
The command exited without complete execution and also did not give any error

docker run -it -e IBMCLOUD_API_KEY=$IBMCLOUD_API_KEY -e  RHEL_SUBSCRIPTION_USERNAME=$RHEL_SUBSCRIPTION_USERNAME -e RHEL_SUBSCRIPTION_PASSWORD=$RHEL_SUBSCRIPTION_PASSWORD -e RHEL_ROOT_PASSWORD=$RHEL_ROOT_PASSWORD quay.io/powercloud/image-upload:0.1 --service-name  powe

[2022-03-25 10:14] mkumatag commented on #257
Can you please mention what exact error you are getting, I don't see any error in the above o/p..

[2022-03-25 10:19] chandan-chopra commented on #257
There is no error, the command just ends there

[2022-03-25 10:22] mkumatag commented on #257
/assign @sudeeshjohn

[2022-03-25 10:39] Shilpi-Das1 commented on #240
Created support case https://cloud.ibm.com/unifiedsupport/cases?number=CS2754707

[2022-05-03 02:26] rgentyala opened #269 "pvsadm command doesn't work"
We have exact requirements mentioned in below link:

https://github.com/ppc64le-cloud/pvsadm/blob/master/docs/How%20to%20Import%20Image%20to%20PowerVS%20Instance.md

I also have IBM Cloud CLI perfectly working fine from my Mac OS. I can even run the same from Windows as well however the requirement given in above link is our requirement.

**Environment**:
- pvsadm version (use `pvsadm version`): [

[2022-05-03 04:20] mkumatag commented on #269
Can you paste the exact command you are trying to run.. will help us replicate in our environment and see what's happening.

[2022-05-03 15:21] rgentyala commented on #269
cd bin
 ls -ltr
total 0
drwxr-xr-x@ 3   staff  96 Apr  6 05:13 darwin-amd64
drwxr-xr-x@ 3   staff  96 Apr  6 05:14 linux-amd64
drwxr-xr-x@ 3   staff  96 Apr  6 05:14 linux-ppc64le
drwxr-xr-x@ 3   staff  96 Apr  6 05:15 windows-amd64
@PrinceComp bin % cd linux-amd64
@PrinceComp linux-amd64 % ls
pvsadm
@PrinceComp linux-amd64 % pvsadm
zsh: command not found: pvsadm
@PrinceComp linux-amd64 % ls -ltr

[2022-05-04 04:55] mkumatag commented on #269
MacOS in golang is considered as a Darwin OS, hence please try running the darwin version:

[code]

[2022-05-04 04:57] mkumatag commented on #269
if you want to install tool automatically to the path, you can use the following instructions as well:

[code]

[2022-05-06 06:21] Shilpi-Das1 opened #272 "Feature Enhancement: pvsadm should work with public buckets to import coreos images directly"
It should work with following buckets
[code]

[2022-05-12 10:26] mkumatag commented on #272
cc @Prajyot-Parab

[2022-05-12 10:27] mkumatag commented on #269
@rgentyala are there any other issues? can we close this issue if no?

[2022-05-12 12:42] rgentyala commented on #269
Please close the issue. However provide instructions that are clear and adoptable. I hope you know what I say this. Lot of our clients are complaining that we do not have good instruction sets to follow to achieve intended goal.

Thanks and Regards,
RAJ KUMAR (RK) GENTYALA
IBM Public Cloud Technical Specialist - SAP
IBM Certified Consulting Expert. SAP HANA Certified.
Phone: +1-925-319-7246 (Cell)

[2022-05-12 13:22] mkumatag commented on #269
feel free to submit a PR to enhance the doc, we are happy to accept the changes :)

[2022-05-16 11:16] Shilpi-Das1 opened #275 "pvsadm image import asking for access and secret key even after specifying API key"
pvsadm version: v0.1.4
I am running the below command
[code]
I have exported my API key
` export IBMCLOUD_API_KEY=<my-key>`

Earlier it was working but now it gives error
[code]
By giving access and secret key it's working

[2022-05-16 11:17] Shilpi-Das1 commented on #275
/cc @Prajyot-Parab

[2022-05-16 11:47] mkumatag commented on #275
cc @bkhadars

[2022-05-16 11:48] mkumatag commented on #275
/assign @bkhadars

[2022-05-16 11:59] mkumatag commented on #275
this could be permission issue, anything got changed in the environment now vs before?

[2022-05-16 12:05] Shilpi-Das1 commented on #275
No didn't change anything only changed pvsadm version

[2022-05-17 07:34] bkhadars commented on #275
@mkumatag @Shilpi-Das1 I am looking into the issue

[2022-05-19 06:16] mkumatag commented on #272
This feature is delivered via #276

[2022-05-19 06:16] #272 closed

[2022-05-19 06:17] mkumatag commented on #275
@bkhadars any updates on this issue?

[2022-05-19 06:17] #269 closed

[2022-05-25 06:49] Prajyot-Parab opened #278 "pvsadm image upload failing on test/staging env storage bucket"
**What happened**:
[code]

**What you expected to happen**:
- Expected the upload to work fine

**How to reproduce it (as minimally and precisely as possible)**:
- Try uploading file to test/staging env storage bucket

**Anything else we need to know?**:

**Environment**:
- pvsadm version (use `pvsadm version`): v0.1.3
- Environment - On-Prem or IBM PowerVS:
- OS (e.g: `cat /etc/os-release`):
- Ke

[2022-05-25 06:49] Prajyot-Parab commented on #278
/cc @KeerthanaAP

[2022-05-25 10:42] bkhadars commented on #275
There are Iam changes updated, which is causing the error to read the existing credentails because it doesn't have enough permissions for reading the credentials..

same has been concluded from the cloud docs as well..

https://cloud.ibm.com/docs/account?topic=account-service_credentials&interface=api&code=go#access-credentials-api

which is clearly vissible from the output
`
keys [{{crn:v1:bluemi

[2022-05-25 11:48] KeerthanaAP commented on #278
As COS is not supported in test/staging environment. This bug is not valid and can be closed.

[2022-05-26 04:35] KeerthanaAP commented on #278
Yes, COS service is not supported in staging.

[2022-06-07 07:26] Shilpi-Das1 opened #283 "Use latest cloudinit-config in pvsadm"
The ssh default keys generation is failing with earlier versions

[2022-06-07 10:46] mkumatag commented on #275
closing based on the above comment, reopen the issue if still exists!

[2022-06-07 12:03] StuC-F88 opened #285 "pvsadm image qcow2ova fails looking for cloud-init-19.4-11.el8_3.1.noarch.rpm"
Downloaded rhel-8.3-ppc64le-kvm.qcow2 from:
https://access.redhat.com/downloads/content/279/ver=/rhel---8/8.3/ppc64le/product-software

Attempted to convert the image using pvsadm:
# pvsadm image qcow2ova --image-name rhel-83-06062022 --image-url ./rhel-8.3-ppc64le-kvm.qcow2 --image-dist rhel --image-size 120 --rhn-user xxxx --rhn-password xxx --os-password abc1234 --temp-dir /pvs_images_converted

[2022-06-07 12:17] mkumatag commented on #285
@StuC-F88 what version of pvsadm is used? following command will give you that information

[code]

We have stopped using the mentioned repository for cloud-init long ago, instead we use it from the distro. Can you use the latest available [version](https://github.com/ppc64le-cloud/pvsadm/releases/tag/v0.1.5) and check again?

[2022-06-07 14:01] StuC-F88 commented on #285
I cloned using v0.1 - grabbed the latest and it has fixed the issue. Thank you

[2022-06-07 14:05] #285 closed

[2022-06-09 09:49] mkumatag commented on #256
/cc @KeerthanaAP

ptal

@Shilpi-Das1 feed more information to the issue.

[2022-06-09 09:49] mkumatag commented on #256
/assign @KeerthanaAP

[2022-06-09 09:50] mkumatag commented on #194
This data isn't accurate anymore, we may just need to remove this table displaying from the tool, ptal

/assign @KeerthanaAP

[2022-06-09 09:56] Prajyot-Parab commented on #278
I think we can, but would wait for a update from @KeerthanaAP

[2022-06-10 05:16] KeerthanaAP commented on #278
Yes, we can close this issue,  upload issue cannot be fixed as COS service is not supported in staging.

[2022-06-10 07:29] mkumatag commented on #278
I believe upload still can work but we can import from the staging bucket if I'm not wrong!

[2022-06-10 09:09] KeerthanaAP commented on #194
@mkumatag why do we need to remove the table, Can we update the table with the proper data?

[2022-06-10 09:40] mkumatag commented on #194
The API used for collecting data is not populating the appropriate data, when I check with the dev team what I got know that the this API is really implemented properly yet, hence thinking about remove the table itself.

Do you mind creating a support ticket for the same and get an official reply from the team and then remove the content if my understanding right!

[2022-06-10 10:02] KeerthanaAP commented on #194
Sure, will create a support ticket for this.

[2022-06-14 06:24] Shilpi-Das1 commented on #275
So now for all import we need to add access and secret key?

[2022-06-14 06:26] Prajyot-Parab commented on #275
@Shilpi-Das1 you can just use the public flag for importing from public bucket, no need to specify keys.

[2022-06-14 06:30] Shilpi-Das1 commented on #275
@Prajyot-Parab For non public bucket do we need to always specify keys?

[2022-06-14 07:13] mkumatag commented on #275
There are 2 flow for the non-public bucket
1. create the keys automatically if cos bucket is in same account(you need access to the cos and permission to create the key)
2. specify the access and secret ket explicitly if don't manage the bucket in the same account.

[2022-06-14 07:18] Shilpi-Das1 commented on #275
@mkumatag I do have cos permission to create key but it doesn't create keys automatically. The issue still exist

[2022-06-16 06:32] mkumatag commented on #275
reopening the issue, will debug it further.

[2022-06-17 11:27] Karthik-K-N opened #288 "Failing to create a network port in test/staging ibm cloud"
**What happened**:

Tried to create a network port in staging ibm cloud

**What you expected to happen**:

Successfully create network port

**How to reproduce it (as minimally and precisely as possible)**:
Try to create a newtwork port in staging cloud using pvsadm

pvsadm create port --env test --description "karthik-capi-port" --network karthik-capi-test --instance-id f3b59a95-d2c5-46e0-9459-9c

[2022-06-17 11:31] mkumatag commented on #288
@Karthik-K-N any idea what's the expected endpoint URL for this region you are using?

[2022-06-17 11:33] Karthik-K-N commented on #288
I think it should be https://dal.power-iaas.test.cloud.ibm.com, But not fully sure, Not able to find any relevant doc

[2022-06-17 11:35] mkumatag commented on #288
cc @Prajyot-Parab any idea about this? possible we might need to document the URLs somewhere

[2022-06-17 11:38] Prajyot-Parab commented on #288
https://cluster-api-ibmcloud.sigs.k8s.io/reference/regions-zones-mapping.html

[2022-06-17 11:39] mkumatag commented on #288
@Prajyot-Parab this is for the staging environment.

[2022-06-17 11:41] Prajyot-Parab commented on #288
Yes, the endpoint would need to point towards `dal`, the issue would need tweak in pvsadm code itself to fix it with test env compatibility.

[2022-06-17 11:58] mkumatag commented on #288
I think there is a fix went in https://github.com/ppc64le-cloud/pvsadm/pull/287 to fix this issue I feel(wrong api endpoint for the dal colo) you can use the binary from artifact: https://github.com/ppc64le-cloud/pvsadm/actions/runs/2460406141(will cut a release with this fix soon) and even then I see following strange error:

[code]

[2022-06-17 12:05] mkumatag commented on #288
Release is published - https://github.com/ppc64le-cloud/pvsadm/releases/tag/v0.1.6, you can also download the binary from there.

[2022-06-17 12:08] Karthik-K-N commented on #288
I think the staging ibm cloud is not working at the moment thats the reason for this error

[2022-06-17 12:27] mkumatag commented on #288
This issue is fixed in the latest release, hence closing this issue.

[2022-06-17 12:27] #288 closed

[2022-06-20 14:01] mkumatag opened #291 "Unmount errors seen for sig interrupt"
**What happened**:

When we press Ctrl+c while running command seen unmount errors and also dangles mount point left, need more debugging

error seen:
[code]

**What you expected to happen**:
It should terminate program properly without any errors and also should clean the mount points

**How to reproduce it (as minimally and precisely as possible)**:
1. Run above pvsadm command mentioned2.
2. Pre

[2022-06-20 14:47] mkumatag opened #292 "ERROR: NoSuchKey: The specified key does not exist. error while image upload operation"
**What happened**:

Throw following error while image import, this doesn't look good, need to add some meaningful context to this error and possibly convert this to warning if not expected to fail with this error

[code]

**What you expected to happen**:

Meaningful warning with some context

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know

[2022-06-23 09:37] mkumatag commented on #275
/cc @KeerthanaAP

ptal

[2022-06-23 09:39] mkumatag commented on #257
@sudeeshjohn @Shilpi-Das1 can you please update about this bug?

[2022-06-23 09:51] Shilpi-Das1 commented on #257
I made a few changes on local

1. The centos image which we were using is not working. So I ran with centos-8-stream catalog image. It's working fine but it's size is 120GB. We don't need 250GB now because we have reduced disk size

2. The default disk size of coreos is changed. Now we need to keep it 16GB instead of 11GB. But it's just for older version since 4.10 onwards ova is available so need

[2022-06-28 09:25] KeerthanaAP commented on #275
There are 3 flows for importing images from non-public buckets.

1. create the keys automatically if the cos bucket is in the same account and there is no service credential already existing for that bucket (you need access to the COS and permission to create the key).

2. If service credentials already exist and the cos bucket is in the same account, read the existing service credentials and use

[2022-07-02 07:25] #194 closed

[2022-07-07 06:14] Shilpi-Das1 commented on #275
Closing this issue as satisfied with explanation

[2022-07-07 06:14] #275 closed

[2022-07-11 09:23] Shilpi-Das1 opened #306 "Image creation for rhel-9 image is failing"
It's failing with following error
[code]
Need to get partition number from the image

[2022-07-11 09:24] Shilpi-Das1 commented on #306
/cc @mkumatag @sudeeshjohn

[2022-07-11 10:44] mkumatag commented on #306
is there a way we can make intelligence decision to choose a partition to resize?

[2022-07-11 10:48] Shilpi-Das1 commented on #306
Yes I am working on it

[2022-07-13 07:56] #170 closed, assigned to bkhadars

[2022-07-13 07:56] #306 closed

[2022-07-20 10:20] #256 closed

[2022-08-02 12:18] #103 closed

[2022-08-21 08:35] mkumatag opened #323 "Differentiate the coreos images from the RHEL ova images"
Rigthnow we are using same os ID in the ova metadata for both coreos and RHEL based image, but I see powervs is now supporting a valid RHCOS image type, hence we also need to adopt the same while generating the coreos images.

Check the ova metadata in the rhcos generated by the OCP project - https://rhcos.mirror.openshift.com/art/storage/releases/rhcos-4.12-ppc64le/412.86.202208090152-0/ppc64le/r

[2022-09-15 03:47] mkumatag opened #335 "Add pvsadm mac binary into Homebrew"
https://docs.brew.sh/Adding-Software-to-Homebrew

[2022-10-14 17:51] mkumatag opened #347 "Explore adding groups for the commands"
Use this feature wherever required.
more information: https://github.com/spf13/cobra/pull/1003

[2022-11-04 08:07] #323 closed